body {
    font-family: "Fira Sans", sans-serif;
    font-size: 14pt;
    color: #293132;
}

h2 {
    font-size: 1.4rem;
    padding-bottom: 0.4rem;
    border-bottom: solid 0.15rem #4F5165;
}

h3 {
    font-size: 1.2rem;
}

a {
    color: #4F5165;
}

::selection {
    background-color: #b56576;
    color: white;
}

#page {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 1rem;
}

blockquote {
    padding-left: 1rem;
    line-height: 100%;
    border-left: solid 0.25em #e56b6f;
}

code {
    font-family: inherit;
    color: #355070;
    word-wrap: normal;
    margin: 0 0.25rem;
    letter-spacing: 0.2rem;
    font-style: italic;
    text-decoration-thickness: 0.07em;
}

pre.data {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.data {
    flex: 1;
    border: double 0.4rem #355070;
    padding: 1em;
    display: inline-block;
}

.data code {
    font-size: 75%;
    font-style: normal;
    margin-left: 0;
}

.figure {
    text-align: center;
}

img {
    display: inline-block;
    max-width: 100%;
    margin-top: 0.5rem;
    border: solid 0.25rem transparent;
}

.figure p {
    font-size: 85%;
    font-style: italic;
    color: #6d597a;
    margin-top: 0.2rem;
    text-align: right;
}
